<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Demo Zone : <%= user.demozone %></p>
    <p class="m-0 text-center text-white">Copyright &copy; WEDO Tracking 2018</p>
  </div>
  <!-- /.container -->
</footer>
